.navbar {
    padding: 1%;
}
.quiz-Done, .score-history, .question-container {
    text-align: center;
    padding: 5%;
    display: none;
}

.quiz-begin {
    text-align: center;
    padding: 5%;
}
.Quiz {
    text-align: center;
}
.title, h1 {
    font-size: 35px;
    font-weight: bold;
}

.answer-btn, .final-submit {
    color: white;
    background: #28a745;
    border-color: #28a745;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    
}
input {
    font-size: 20px;
    margin-bottom: 5px;
}

li {
    list-style: none;
}